# Churn List prediction for next year

In [111]:
def LogicResult_churn_next_year(X_cur,y_cur,X_next,Penalty,c,Solver,table=False):

    
    scaler_current=StandardScaler()
    scaler_current.fit(X_cur)
    X_cur_scaled = pd.DataFrame(scaler_current.transform(X_cur),columns = X_cur.columns)
    
    X_next_feature=X_next.drop('CUSTOMER_SITE_ID',axis=1)
    scaler_next=StandardScaler()
    scaler_next.fit(X_next_feature)
    X_next_feature_scaled = pd.DataFrame(scaler_next.transform(X_next_feature),columns = X_next_feature.columns)
    
    
    #Lasso
    classifier = LogisticRegression(random_state=0, penalty=Penalty,solver=Solver,C=c)
    classifier.fit(X_cur_scaled, y_cur)
    
    coef_table = pd.DataFrame(list(X_cur.columns)).copy()
    coef_table.insert(len(coef_table.columns),"Coefs",classifier.coef_.transpose())
    coef_table.columns=['Variable','Coefs']
    coef_table['Coefs_ABS']=coef_table['Coefs'].abs()
    coef=coef_table.sort_values('Coefs_ABS',ascending=False).reset_index(drop=True)
    coef=coef.drop('Coefs_ABS',axis=1)
    
    y_pred = classifier.predict(X_next_feature_scaled)
    X_next['churn_pred'] = y_pred
    churn_next=X_next[X_next['churn_pred']==1]
    
    if table == False:
        return churn_next
    else:
        return coef

## Tier 1

In [60]:
sfm_rfe_19_1_next=SFM_RFE_featrue_selection(X1_19,y1_19,fit_all=True)
best_pen,best_c,best_sol = best_Model(X1_19[sfm_rfe_19_1_next],y1_19,pen,c,solver,hyper_param=True)
churn_20_1=LogicResult_churn_next_year(X1_19[sfm_rfe_19_1_next],y1_19,X1_20[['CUSTOMER_SITE_ID']+sfm_rfe_19_1_next]\
                                       ,best_pen,best_c,best_sol)

In [101]:
watchlist_1 =churn_20_1[churn_20_1['Recency']<366]

In [102]:
print(X1_20.shape[0])   #Total number of customer
print(churn_20_1.shape[0]) #Total number on the predicted inactive customer for next year
print(watchlist_1.shape[0]) #The customer that are active in the past year, but may churn in the following year

3391
218
4

In [108]:
watchlist_1

,CUSTOMER_SITE_ID,Recency,CUSTOMER_CLASS_OEM,Contract,Lastest_Amt_Ratio,Visit_per_TRX,churn_pred
705,9949,337,0,0.0,0.441129,0.071429,1
1051,24190,323,0,10.0,0.061347,0.220974,1
1965,63817,351,0,0.0,0.559203,0.100000,1
10858,112402,359,0,0.0,0.171816,0.000000,1

## Tier 2

In [64]:
sfm_rfe_19_2_next=SFM_RFE_featrue_selection(X2_19,y2_19,fit_all=True)
best_pen,best_c,best_sol = best_Model(X2_19[sfm_rfe_19_2_next],y2_19,pen,c,solver,hyper_param=True)
churn_20_2=LogicResult_churn_next_year(X2_19[sfm_rfe_19_2_next],y2_19,X2_20[['CUSTOMER_SITE_ID']+sfm_rfe_19_2_next]\
                                       ,best_pen,best_c,best_sol)

In [103]:
watchlist_2 =churn_20_2[churn_20_2['Recency']<366]

In [104]:
print(X2_20.shape[0])   #Total number of customer
print(churn_20_2.shape[0]) #Total number on the predicted inactive customer for next year
print(watchlist_2.shape[0]) #The customer that are active in the past year, but may churn in the following year

5195
787
6

In [105]:
watchlist_2

,CUSTOMER_SITE_ID,Frequency,Recency,Lastest_Amt_Ratio,Visit_per_TRX,Avg_AMT,churn_pred
964,12910,7,252,1.406714,6.857143,14413.892857,1
1248,33594,80,318,0.378063,0.062500,105.304000,1
5136,367748,47,359,0.727133,0.574468,224.699574,1
5578,491145,102,33,0.970602,0.156863,46.791765,1
5849,534196,6,23,1.542149,6.333333,19449.466667,1
10577,70320,3,48,1.889250,0.666667,10082.570000,1

In [68]:
sfm_rfe_19_3_next=SFM_RFE_featrue_selection(X3_19,y3_19,fit_all=True)
best_pen,best_c,best_sol = best_Model(X3_19[sfm_rfe_19_3_next],y3_19,pen,c,solver,hyper_param=True)
churn_20_3=LogicResult_churn_next_year(X3_19[sfm_rfe_19_3_next],y3_19,X3_20[['CUSTOMER_SITE_ID']+sfm_rfe_19_3_next]\
                                       ,best_pen,best_c,best_sol)

In [106]:
watchlist_3 =churn_20_3[churn_20_3['Recency']<366]

In [107]:
print(X3_20.shape[0])   #Total number of customer
print(churn_20_3.shape[0]) #Total number on the predicted inactive customer for next year
print(watchlist_3.shape[0]) #The customer that are active in the past year, but may churn in the following year

3810
2332
452

In [71]:
watchlist_3

,CUSTOMER_SITE_ID,Frequency,Recency,CUSTOMER_CLASS_OEM,NO_OF_SVC_INCIDENTS,Visit_per_TRX,Avg_AMT,Avg_Duration,churn_pred
87,1433,8,210,0,1,1.125000,167.102500,220.125000,1
148,2305,3,262,0,67,21.000000,117.413333,403.000000,1
231,3459,7,303,0,1,0.428571,166.321429,207.142857,1
317,4534,6,45,0,1,0.833333,457.335000,319.333333,1
383,5355,5,150,0,24,5.400000,665.498000,158.000000,1
...,...,...,...,...,...,...,...,...,...
14386,8397197,2,318,1,0,0.000000,357.890000,17.000000,1
14403,8398667,3,129,0,0,0.000000,3681.713333,81.666667,1
14492,8406846,2,93,0,0,0.000000,3167.160000,111.000000,1
14518,8408894,3,36,0,0,0.000000,3675.286667,16.333333,1
14671,8417628,2,203,1,0,0.000000,2306.750000,12.000000,1

In [76]:
stat=second_df.groupby('Tier').agg({'Churn':'sum','CUSTOMER_SITE_ID':'count','Avg_Duration':'mean'}).reset_index()
stat['Churn_rate']=round((stat['Churn']/stat['CUSTOMER_SITE_ID'])*100,2)
stat

     Tier  Churn  CUSTOMER_SITE_ID  Avg_Duration  Churn_rate
0  Tier 1    257              3350     30.293444        7.67
1  Tier 2   1067              5019     83.728126       21.26
2  Tier 3   1965              3298    123.874558       59.58
3  Tier 4   1862              1864      1.301475       99.89

In [92]:
for i in coef1_19.head()['Variable'].values:
    print(X1_19[i].mean())

60.21611940298507
0.565504118552221
5.769552238805971
0.006865671641791045
0.08328358208955224

In [95]:
for i in coef2_19.head()['Variable'].values:
    print(X2_19[i].mean())

187.16776250249055
1.0496365199179238
15.85833831440526
598.7117088610602
1.1138567900501912

In [96]:
for i in coef3_19.head()['Variable'].values:
    print(X3_19[i].mean())

539.4893875075803
3.741055184960582
123.87455815948083
2.4758800116062045
437.48273520091084

In [116]:
coef1_19.to_csv('Tier1_Selected_Coef.csv')

In [117]:
coef1_19_next.to_csv('Tier1_Selected_Coef_Next.csv')

In [112]:
coef1_19_next=LogicResult_churn_next_year(X1_19[sfm_rfe_19_1_next],y1_19,X1_20[['CUSTOMER_SITE_ID']+sfm_rfe_19_1_next]\
                                       ,best_pen,best_c,best_sol,table=True)

In [114]:
coef2_19_next=LogicResult_churn_next_year(X2_19[sfm_rfe_19_2_next],y2_19,X2_20[['CUSTOMER_SITE_ID']+sfm_rfe_19_2_next]\
                                       ,best_pen,best_c,best_sol,table=True)

In [115]:
coef3_19_next=LogicResult_churn_next_year(X3_19[sfm_rfe_19_3_next],y3_19,X3_20[['CUSTOMER_SITE_ID']+sfm_rfe_19_3_next]\
                                       ,best_pen,best_c,best_sol,table=True)

In [119]:
coef2_19.to_csv('Tier2_Selected_Coef.csv')

In [121]:
coef2_19

                Variable     Coefs
0                Recency  1.837899
1          Visit_per_TRX -0.622143
2              Frequency  0.384857
3                Avg_AMT  0.345554
4      Lastest_Amt_Ratio -0.253233
5  Main_Product_mode_CIJ -0.053366

In [120]:
coef2_19_next.to_csv('Tier2_Selected_Coef_Next.csv')

In [123]:
coef3_19_next.to_csv('Tier3_Selected_Coef_Next.csv')

In [124]:
coef3_19.to_csv('Tier3_Selected_Coef.csv')

In [125]:
coef3_19_all

                       Variable     Coefs
0                       Recency  1.124063
1                     Frequency  0.351666
2                  Avg_Duration  0.288538
3                 Visit_per_TRX -0.257415
4                       Avg_AMT  0.217427
5            CUSTOMER_CLASS_OEM  0.196473
6           NO_OF_SVC_INCIDENTS  0.125043
7    CUSTOMER_CLASS_DISTRIBUTOR  0.119515
8   PRODUCT_MODEL_mode_Multiple -0.095056
9        SHORT_VERTICAL_UNKNOWN -0.088505
10    Lastest_Price_Ratio_Trend  0.080722
11     SALES_CHANNEL_mode_Esker  0.079363
12   PRODUCT_MODEL_mode_SOLVENT  0.073269
13              Aggregate_index  0.068569
14        Main_Product_mode_LCM -0.037879
15        Main_Product_mode_TIJ -0.035494
16        Main_Product_mode_TTO  0.028423
17                     Contract -0.027473
18        Unique_Item_Purchased  0.020037
19         Incident_per_printer  0.015076
20        Main_Product_mode_CIJ -0.009925
21   PRODUCT_MODEL_mode_MAKE-UP -0.009203
22            Lastest_Amt_Ratio -0.007155